*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    background-color: blueviolet;
    font-size: 4rem;
    padding: 1rem 2rem;
}

select {
    background-color: aquamarine;
    color: blue;
}